# COMP 432 - BIXI

In [1]:
import numpy as np
import pandas as pd
from zipfile import ZipFile

# Removing scientific notation
pd.set_option('display.float_format', lambda x: '%.3f' % x)

## Load BIXI data

In [2]:
zf = ZipFile('./data/bixi/biximontrealrentals2019-33ea73.zip')
bixi_2019_04 = pd.read_csv(zf.open('OD_2019-04.csv'), parse_dates=['start_date', 'end_date'])
bixi_2019_05 = pd.read_csv(zf.open('OD_2019-05.csv'), parse_dates=['start_date', 'end_date'])
bixi_2019_06 = pd.read_csv(zf.open('OD_2019-06.csv'), parse_dates=['start_date', 'end_date'])
bixi_2019_07 = pd.read_csv(zf.open('OD_2019-07.csv'), parse_dates=['start_date', 'end_date'])
bixi_2019_08 = pd.read_csv(zf.open('OD_2019-08.csv'), parse_dates=['start_date', 'end_date'])
bixi_2019_09 = pd.read_csv(zf.open('OD_2019-09.csv'), parse_dates=['start_date', 'end_date'])
bixi_2019_10 = pd.read_csv(zf.open('OD_2019-10.csv'), parse_dates=['start_date', 'end_date'])
bixi_2019_stations = pd.read_csv(zf.open('Stations_2019.csv'), dtype={'name': 'string'})

/Users/simon/opt/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (1,3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
bixi_2019_04.head()

,start_date,start_station_code,end_date,end_station_code,duration_sec,is_member
0,2019-04-14 07:55:22,6001,2019-04-14 08:07:16,6132,713,1
1,2019-04-14 07:59:31,6411,2019-04-14 08:09:18,6411,587,1
2,2019-04-14 07:59:55,6097,2019-04-14 08:12:11,6036,736,1
3,2019-04-14 07:59:57,6310,2019-04-14 08:27:58,6345,1680,1
4,2019-04-14 08:00:37,7029,2019-04-14 08:14:12,6250,814,0

In [4]:
bixi_2019_stations.head()

    Code                                    name  latitude  longitude
0  10002  Métro Charlevoix (Centre / Charlevoix)    45.478    -73.570
1   4000                  Jeanne-d'Arc / Ontario    45.550    -73.542
2   4001                     Graham / Brookfield    45.520    -73.630
3   4002                      Graham / Wicksteed    45.517    -73.640
4   5002                St-Charles / Montarville    45.534    -73.515

## Load weather data

In [5]:
# Note: Use Date/Time column instead of Time column
weather_2019_04 = pd.read_csv('./data/weather/2019/en_climate_hourly_QC_7025251_04-2019_P1H.csv', parse_dates=['Date/Time'], dtype={'Station Name': 'string', 'Weather': 'string'})
weather_2019_05 = pd.read_csv('./data/weather/2019/en_climate_hourly_QC_7025251_05-2019_P1H.csv', parse_dates=['Date/Time'], dtype={'Station Name': 'string', 'Weather': 'string'})
weather_2019_06 = pd.read_csv('./data/weather/2019/en_climate_hourly_QC_7025251_06-2019_P1H.csv', parse_dates=['Date/Time'], dtype={'Station Name': 'string', 'Weather': 'string'})
weather_2019_07 = pd.read_csv('./data/weather/2019/en_climate_hourly_QC_7025251_07-2019_P1H.csv', parse_dates=['Date/Time'], dtype={'Station Name': 'string', 'Weather': 'string'})
weather_2019_08 = pd.read_csv('./data/weather/2019/en_climate_hourly_QC_7025251_08-2019_P1H.csv', parse_dates=['Date/Time'], dtype={'Station Name': 'string', 'Weather': 'string'})
weather_2019_09 = pd.read_csv('./data/weather/2019/en_climate_hourly_QC_7025251_09-2019_P1H.csv', parse_dates=['Date/Time'], dtype={'Station Name': 'string', 'Weather': 'string'})
weather_2019_10 = pd.read_csv('./data/weather/2019/en_climate_hourly_QC_7025251_10-2019_P1H.csv', parse_dates=['Date/Time'], dtype={'Station Name': 'string', 'Weather': 'string'})

In [6]:
weather_2019_04.head()

,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time,Year,Month,Day,Time,Temp (°C),...,Wind Spd Flag,Visibility (km),Visibility Flag,Stn Press (kPa),Stn Press Flag,Hmdx,Hmdx Flag,Wind Chill,Wind Chill Flag,Weather
0,-73.740,45.470,MONTREAL INTL A,7025251,2019-04-01 00:00:00,2019,4,1,00:00,-1.500,...,nan,24.100,nan,100.750,nan,nan,nan,-7.000,nan,Snow
1,-73.740,45.470,MONTREAL INTL A,7025251,2019-04-01 01:00:00,2019,4,1,01:00,-1.700,...,nan,24.100,nan,100.790,nan,nan,nan,-9.000,nan,Cloudy
2,-73.740,45.470,MONTREAL INTL A,7025251,2019-04-01 02:00:00,2019,4,1,02:00,-2.900,...,nan,24.100,nan,100.860,nan,nan,nan,-9.000,nan,<NA>
3,-73.740,45.470,MONTREAL INTL A,7025251,2019-04-01 03:00:00,2019,4,1,03:00,-3.900,...,nan,24.100,nan,100.920,nan,nan,nan,-10.000,nan,<NA>
4,-73.740,45.470,MONTREAL INTL A,7025251,2019-04-01 04:00:00,2019,4,1,04:00,-4.800,...,nan,24.100,nan,101.030,nan,nan,nan,-11.000,nan,Clear

## Merging all data together

### BIXI data

Merging all 2019 bixi trips together

In [7]:
bixi_2019_all = pd.concat([bixi_2019_04, bixi_2019_05, bixi_2019_06, bixi_2019_07, bixi_2019_08, bixi_2019_09, bixi_2019_10])
bixi_2019_all

,start_date,start_station_code,end_date,end_station_code,duration_sec,is_member
0,2019-04-14 07:55:22,6001,2019-04-14 08:07:16,6132,713,1
1,2019-04-14 07:59:31,6411,2019-04-14 08:09:18,6411,587,1
2,2019-04-14 07:59:55,6097,2019-04-14 08:12:11,6036,736,1
3,2019-04-14 07:59:57,6310,2019-04-14 08:27:58,6345,1680,1
4,2019-04-14 08:00:37,7029,2019-04-14 08:14:12,6250,814,0
...,...,...,...,...,...,...
617190,2019-10-31 23:52:45,6901,2019-11-01 00:05:15,6063,749,1
617191,2019-10-31 23:53:59,6218,2019-11-01 00:23:19,6269,1760,1
617192,2019-10-31 23:55:26,7149,2019-11-01 00:11:33,6338,966,1
617193,2019-10-31 23:56:28,6199,2019-11-01 00:09:13,6003,764,1
617194,2019-10-31 23:56:38,7069,2019-11-01 00:00:58,6005,259,1

Append station data to all Bixi Trips

In [8]:
bixi_2019_all_with_stations = bixi_2019_all.merge(bixi_2019_stations, left_index=True, left_on='start_station_code', right_on='Code').drop('Code', 1).rename({'name': 'start_name', 'latitude': 'start_latitude', 'longitude': 'start_longitude'}, axis=1).merge(bixi_2019_stations, left_index=True, left_on='end_station_code', right_on='Code').drop('Code', 1).rename({'name': 'end_name', 'latitude': 'end_latitude', 'longitude': 'end_longitude'}, axis=1)
bixi_2019_all_with_stations.sample(10)

,start_date,start_station_code,end_date,end_station_code,duration_sec,is_member,start_name,start_latitude,start_longitude,end_name,end_latitude,end_longitude
27,2019-06-10 16:33:04,6219,2019-06-10 16:36:12,6019,187,1,de l'Hôtel-de-Ville / Roy,45.517,-73.575,Métro Sherbrooke (de Rigaud / Berri),45.518,-73.568
606,2019-09-22 10:58:41,7034,2019-09-22 11:02:04,7141,202,1,Atwater / Greene,45.480,-73.578,Turgeon / Notre-Dame,45.479,-73.582
217,2019-07-31 17:06:06,6083,2019-07-31 17:21:08,6223,902,1,Square Phillips,45.504,-73.568,du Mont-Royal / du Parc,45.517,-73.589
211,2019-08-10 10:48:21,6153,2019-08-10 11:01:58,6217,816,0,Cartier / Marie-Anne,45.533,-73.572,Vallières / St-Laurent,45.519,-73.584
214,2019-07-31 11:54:27,6206,2019-07-31 11:59:58,6220,330,1,Prince-Arthur / du Parc,45.511,-73.575,Laval / Duluth,45.519,-73.577
437,2019-06-27 17:58:15,6235,2019-06-27 18:05:46,6750,451,1,St-Dominique / St-Viateur,45.527,-73.598,de Mentana / Gilford,45.529,-73.584
518,2019-05-01 17:58:12,7068,2019-05-01 18:04:01,7053,348,1,Basin / Richmond,45.488,-73.565,Ropery / Augustin-Cantin,45.481,-73.568
227,2019-09-01 19:45:43,6183,2019-09-01 19:58:21,6233,757,0,Laval / du Mont-Royal,45.522,-73.584,Bernard / Jeanne-Mance,45.524,-73.605
214,2019-08-01 17:23:09,6200,2019-08-01 17:30:37,6220,447,1,Maguire / St-Laurent,45.525,-73.596,Laval / Duluth,45.519,-73.577
109,2019-10-23 18:07:18,6381,2019-10-23 18:23:59,6112,1001,1,Omer-Lavallée / du Midway,45.546,-73.562,Montcalm / de Maisonneuve,45.519,-73.558

### Weather

Merging weather data

In [9]:
weather_2019_all = pd.concat([weather_2019_04, weather_2019_05, weather_2019_06, weather_2019_07, weather_2019_08, weather_2019_09, weather_2019_10])
weather_2019_all.sample(10)

,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time,Year,Month,Day,Time,Temp (°C),...,Wind Spd Flag,Visibility (km),Visibility Flag,Stn Press (kPa),Stn Press Flag,Hmdx,Hmdx Flag,Wind Chill,Wind Chill Flag,Weather
115,-73.740,45.470,MONTREAL INTL A,7025251,2019-10-05 19:00:00,2019,10,5,19:00,9.700,...,nan,24.100,nan,102.280,nan,nan,nan,nan,nan,Clear
512,-73.740,45.470,MONTREAL INTL A,7025251,2019-09-22 08:00:00,2019,9,22,08:00,18.900,...,nan,24.100,nan,101.220,nan,nan,nan,nan,nan,<NA>
270,-73.740,45.470,MONTREAL INTL A,7025251,2019-07-12 06:00:00,2019,7,12,06:00,20.100,...,nan,24.100,nan,100.100,nan,27.000,nan,nan,nan,<NA>
490,-73.740,45.470,MONTREAL INTL A,7025251,2019-05-21 10:00:00,2019,5,21,10:00,11.800,...,nan,48.300,nan,100.580,nan,nan,nan,nan,nan,Mostly Cloudy
527,-73.740,45.470,MONTREAL INTL A,7025251,2019-07-22 23:00:00,2019,7,22,23:00,19.400,...,nan,24.100,nan,100.670,nan,nan,nan,nan,nan,<NA>
238,-73.740,45.470,MONTREAL INTL A,7025251,2019-09-10 22:00:00,2019,9,10,22:00,15.700,...,nan,8.100,nan,101.340,nan,nan,nan,nan,nan,Fog
731,-73.740,45.470,MONTREAL INTL A,7025251,2019-07-31 11:00:00,2019,7,31,11:00,27.600,...,nan,48.300,nan,101.100,nan,35.000,nan,nan,nan,<NA>
294,-73.740,45.470,MONTREAL INTL A,7025251,2019-06-13 06:00:00,2019,6,13,06:00,16.900,...,nan,48.300,nan,100.910,nan,nan,nan,nan,nan,<NA>
149,-73.740,45.470,MONTREAL INTL A,7025251,2019-10-07 05:00:00,2019,10,7,05:00,12.700,...,nan,24.100,nan,101.300,nan,nan,nan,nan,nan,Rain
520,-73.740,45.470,MONTREAL INTL A,7025251,2019-05-22 16:00:00,2019,5,22,16:00,18.900,...,nan,48.300,nan,101.920,nan,nan,nan,nan,nan,Mostly Cloudy

### BIXI + Weather

Merging weather data (Tempeture and weather) with BIXI data

In [10]:
bixi_2019_all_with_stations_and_weather = bixi_2019_all_with_stations.merge(weather_2019_all[['Date/Time', 'Weather', 'Temp (°C)']], left_on=bixi_2019_all_with_stations['start_date'].dt.floor('H'), right_on='Date/Time').drop('Date/Time', 1).rename({'Weather': 'start_weather', 'Temp (°C)': 'start_temp'}, axis=1)
bixi_2019_all_with_stations_and_weather.sample(10)

,start_date,start_station_code,end_date,end_station_code,duration_sec,is_member,start_name,start_latitude,start_longitude,end_name,end_latitude,end_longitude,start_weather,start_temp
4001478,2019-08-09 14:00:00,6407,2019-08-09 14:04:04,6403,243,1,Charlevoix / Lionel-Groulx,45.484,-73.577,Georges-Vanier / Notre-Dame,45.485,-73.572,<NA>,21.800
4495816,2019-09-15 21:26:27,6044,2019-09-15 21:30:30,6903,242,1,Roy / St-André,45.522,-73.570,St-Dominique / Napoléon,45.517,-73.577,<NA>,14.100
932711,2019-06-25 00:52:54,6901,2019-06-25 01:23:10,6345,1815,0,Gare d'autocars de Montréal (Berri / Ontario),45.517,-73.564,Louis-Hémon / Villeray,45.555,-73.611,<NA>,19.400
4442909,2019-09-29 13:16:25,6501,2019-09-29 13:37:54,6501,1289,0,Metro Jean-Drapeau (Chemin Macdonald),45.513,-73.531,Metro Jean-Drapeau (Chemin Macdonald),45.513,-73.531,Mostly Cloudy,13.600
3595469,2019-07-15 10:41:24,6432,2019-07-15 11:01:24,6043,1200,1,de Maisonneuve / Greene,45.487,-73.589,Square Victoria (Viger / du Square-Victoria),45.502,-73.563,Clear,22.300
2847710,2019-10-14 15:09:56,6405,2019-10-14 15:27:12,6732,1035,1,Duvernay / Charlevoix,45.482,-73.575,Fortune / Wellington,45.478,-73.559,<NA>,11.200
4637233,2019-05-05 15:46:24,6336,2019-05-05 15:54:11,6249,467,1,Faillon / St-Hubert,45.543,-73.618,Bélanger / St-Denis,45.537,-73.612,<NA>,19.000
2979793,2019-09-21 08:01:48,6166,2019-09-21 08:18:49,6901,1021,1,Gerry-Boulet / St-Grégoire,45.534,-73.589,Gare d'autocars de Montréal (Berri / Ontario),45.517,-73.564,<NA>,18.100
1127969,2019-09-19 10:52:50,6200,2019-09-19 11:00:23,6191,452,1,Maguire / St-Laurent,45.525,-73.596,St-Zotique / Clark,45.531,-73.613,Mainly Clear,15.300
4908332,2019-07-30 13:08:28,6065,2019-07-30 13:19:08,6212,639,1,de la Montagne / Sherbrooke,45.500,-73.579,Duluth / de l'Esplanade,45.515,-73.581,Rain Showers,23.800

## Data Cleaning

### Checking if there are missing data
Only the weather data is missing some values

In [11]:
bixi_2019_all_with_stations_and_weather.isnull().sum()

start_date                  0
start_station_code          0
end_date                    0
end_station_code            0
duration_sec                0
is_member                   0
start_name                  0
start_latitude              0
start_longitude             0
end_name                    0
end_latitude                0
end_longitude               0
start_weather         3459073
start_temp               1494
dtype: int64

### Checking the contents of the "Weather" column
Some of the weather values contains more than 1 condition. We'll have to take this into account while training.

In [12]:
bixi_2019_all_with_stations_and_weather['start_weather'].value_counts()

Mostly Cloudy                              633845
Mainly Clear                               400336
Cloudy                                     304650
Clear                                      281318
Rain                                       165817
Rain Showers                               102038
Rain,Fog                                    20620
Drizzle,Fog                                 17388
Fog                                         16463
Drizzle                                     16140
Thunderstorms,Rain Showers                  11358
Moderate Rain,Fog                            4062
Moderate Rain Showers                        3378
Rain,Rain Showers                            1437
Moderate Rain                                1202
Thunderstorms,Rain                            793
Thunderstorms,Moderate Rain Showers,Fog       635
Thunderstorms,Moderate Rain Showers           612
Thunderstorms,Heavy Rain Showers              577
Thunderstorms                                 274
Rain Showers,Fog                              272
Name: start_weather, dtype: Int64

We will have to find a way to split the weather conditions into smaller parts. 

The best way to do so is to create new features to the data that represent the weather and set the flag to either 0 or 1

Here are the unique weather conditions:
- Mostly Cloudy
- Mainly Clear
- Cloudy
- Clear
- Rain
- Rain Showers
- Fog
- Drizzle
- Moderate Rain Showers
- Moderate Rain
- Heavy Rain Showers
- Thunderstorms

Also, more than half of the data does not have a weather appended to it. I'm not sure if this will affect the results or not.

### Checking data stats
To see if there are any weird anomalies or outliers

In [13]:
bixi_2019_all_with_stations_and_weather.describe()

,duration_sec,is_member,start_latitude,start_longitude,end_latitude,end_longitude,start_temp
count,5442288.000,5442288.000,5442288.000,5442288.000,5442288.000,5442288.000,5440794.000
mean,811.042,0.820,45.517,-73.580,45.516,-73.578,18.999
std,625.547,0.384,0.023,0.023,0.024,0.023,6.344
min,61.000,0.000,45.415,-73.744,45.415,-73.744,-2.100
25%,369.000,1.000,45.503,-73.592,45.502,-73.589,14.400
50%,647.000,1.000,45.520,-73.576,45.519,-73.575,19.300
75%,1090.000,1.000,45.532,-73.565,45.532,-73.563,24.000
max,7199.000,1.000,45.651,-73.490,45.651,-73.490,32.800